/* Mobile-first */ 

/* Reset */

:root {
    --base-font-size: 1rem;
    --line-height: 1.8rem;
    --background-color: #2a6fdb;
    --background-color-secondary: #fff;
    --background--gradient: linear-gradient(to right bottom, #2a6fdb ,#5188e1)
    
}

html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  /* Basic styling */ 

  /* Implement modular typography */

  body {
    background: var(--background--gradient);
    color: #fff;
    font-family: "Quicksand", sans-serif;
    line-height: 1.8rem;
    
    /* flex: 1; Only works on the child elements */
    
  }

  

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Information */

  .information {
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
  }

  .projects {
    padding: 1rem 1rem 0 1rem;
  }

  .presentation-card {
    
    text-align: center;
    margin-bottom: 3.6rem;  /* calculated vertical spacing times 2 */
  }

  .presentation-image > img {
    border-radius: 50%;
    max-width: 60%;
  
    height: auto;
    border: solid 0.4rem;
  }

  .presentation-text {
    flex: 1;
    text-align: center;
  }

  .presentation-text > h1 {
    font-weight: 800;
    font-size: 1.793em;
  }

  .presentation-text > h2 {
    font-weight: 400;
    font-size: 1.383rem;
    opacity: 0.8;
  }

  .presentation-text, .presentation-image {
    margin-bottom: 1.8rem;
  }

  .presentation-paragraph > p {
    font-weight: 400;
  }
  
  .contact {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 3.6rem;
  }

  .contact > a > svg {
    width: 2rem;
    fill: var(--background-color-secondary);
    height: auto;
    transition: all 0.2s;
  }

  .contact > a > svg:hover {
    transform: scale(1.2);
  }

  /* Projects section */

  .projects > h2 {
    margin-bottom: 1.8rem;
  }

  .element-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .element::after {
    transition: all 0.3s;
    content: "element text";
    opacity: 0;
    display: block;
    background: #2a6fdb;
    height: 100%;
    transform: translateX(100%);
  }

  .element:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  .element {
    background: white;
    height: 10rem;
    width: 14rem;
    margin-bottom: 0.9rem;
  }

  .project1 {

  }

  .project2 {

  }

  .project3 {

  }

  .project4 {

  }



  /* Footer */ 

  footer {
    height: 30vh;
    background: #172c4f;
  }
 