

/* Mobile-first */ 

/* Imports */
 
/* Reset */
  
:root {
    --base-font-size: .9rem;
    --line-height: 1.8rem;
    --background-color: #2a6;
    --background-color-secondary: #fff;
    --background--gradient: linear-gradient(to right bottom, #2a6fdb ,#5188e1);
    
}



html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  

  /* Basic styling */ 

  

  nav {
  display: block;
  position: absolute;
  right: 3.6rem;
  width: auto; 
  background: transparent;
  top: 1.8rem;
}

  nav > a {
   border-bottom: none;
   color: inherit;
   padding-bottom: .25rem;
   text-decoration: none;
   font-size: var(--base-font-size);
   margin-left: var(--line-height);
  }

  nav > a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }


  /* Implement modular typography */

  body {
    background: var(--background-color);
    color: #fff;
    font-family: "Fira Mono", monospace;
    line-height: 1.8rem;
    /* flex: 1; Only works on the child elements */
    
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  }

  main {
    padding: 0.9rem;
  }

  

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-section {
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    width: 100%;
  }

  .presentation-card {
    text-align: center;
    /* calculated vertical spacing times 2 */
    width: 24rem;
    min-width: 24rem;
  }

  .presentation-image > img {
    border-radius: 50%;
    max-width: 60%;
  
    height: auto;
    border: solid 0.2rem;
  }

  .presentation-text {
    flex: 1;
    text-align: center;
  }

  .presentation-text > h1 {
    font-weight: 800;
    font-size: 1.793em;
  }

  .presentation-text > h2 {
    font-weight: 400;
    font-size: 1.383rem;
    opacity: 0.8;
  }

  .presentation-text, .presentation-image,.presentation-paragraph {
    margin-bottom: 1.8rem;
  }

  .presentation-paragraph > p {
    font-weight: 400;
    font-size: var(--base-font-size);
  }
  
  .contact {
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }

  .contact > a > svg {
    width: 1.8rem;
    fill: var(--background-color-secondary);
    height: auto;
    transition: all 0.2s;
  }

  .contact > a > svg:hover {
    transform: scale(1.2);
  }

  /* Projects section */
  
.projects {
  width: 100%;
}

  .projects > h2 {
    margin-bottom: 1.8rem;
  }

  .project-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

  .project-tile::after {
    transition: all 0.3s;
    content: "";
    opacity: 0;
    display: block;
    background: #2a6fdb;
    height: 100%;
    transform: translateX(100%);
  }

  .project-tile:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  .project-tile {
    background: white;
    height: 20rem;
    flex: 0 1 calc(24% - 1.8rem);
    margin: 0.9rem;
  }

  .project1 {

  }

  .project2 {

  }

  .project3 {

  }

  .project4 {

  }



  /* Footer */ 

  footer {
    height: 30vh;
  }
 

  /* Media queries */

  @media screen and (max-width: 768px) {
    
    .project-box {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .project-tile {
      flex: 0 1 calc(100% - 1.8rem);
    }

  }